body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #e0f7ff;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #00c6ff;
}

iframe {
    border-radius: 15px;
    margin-top: 20px;
}

a {
    display: block;
    margin-top: 30px;
    color: #00c6ff;
    text-decoration: none;
    font-weight: bold;
}